html {
  font-family: Roboto,sans-serif;
}
body {
  margin: 50px 30px 30px 30px;
  font-size: 16px;
  line-height: 200%;
  word-break: break-all;
}
ul {
  list-style: none;
    -webkit-padding-start: 10px;
}
li{
  padding-bottom: 10px;
}
h2{
  font-size: 20px;
  font-style: bold;
}
