.soilcontent {
  margin: 50px 30px 50px 30px;
}
body {
    line-height: 1.7em;
}
h1   {
  font-size: 1.7em;
  font-weight: bold;
  padding-bottom: 5px;
}
h2{
  font-size: 1.3em;
  font-weight: bold;
}
p    {
  font-size: 1em;
  padding-bottom: 5px;
}
ul{
    padding-left: 20px;
}
li   {
  /* line-height: 1.5em; */
  padding-bottom: 10px;
}
.numberedlist {
  list-style: decimal;
}
.disc {
  list-style: disc;
}
figure {
  margin:auto;
  display:block;
}
figcaption{
  padding-top: 10px;
  color: grey;
  text-align: center;
  font-size: 0.8em;
}
